<!doctype html>
<html lang="en">

{% include 'partials/head.html' %}

<body>

    <div class="root home-page">

        {% include 'partials/header.html' %}

        <div class="site-main">
           
            <div class="container">
                <div class="slider-wrap">
                    <div class="slider">
                        <div class="slider__item"><img src="/img/ibiza/1.jpg" alt=".." /></div>
                        <div class="slider__item"><img src="/img/ibiza/2.jpg" alt=".." /></div>
                        <div class="slider__item"><img src="/img/ibiza/3.jpg" alt=".." /></div>
                        <div class="slider__item"><img src="/img/ibiza/4.jpg" alt=".." /></div>
                        <div class="slider__item"><img src="/img/ibiza/5.jpg" alt=".." /></div>
                        <div class="slider__item"><img src="/img/ibiza/6.jpg" alt=".." /></div>
                        <div class="slider__item"><img src="/img/ibiza/7.jpg" alt=".." /></div>
                        <div class="slider__item"><img src="/img/ibiza/8.jpg" alt=".." /></div>
                        
                    </div>
                </div>

                <h1>Главная страница сайта</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                    eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                    posuere a, pede.<br />
                    Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                    Aenean
                    dignissim pellentesque felis.</p>
                    
            </div>

        </div>

        {% include 'partials/footer.html' %}

    </div>
    

    {% include 'partials/javascripts.html' %}

</body>

</html>