{% extends "layouts/layout-home-page.html" %}

{% block content %}
    {% include 'partials/home-page-sections/section-home-slider.html' %}
           
    {% include 'partials/home-page-sections/section-img-text.html' %}
    
    {% include 'partials/home-page-sections/section-parallax.html' %}
    
    {% include 'partials/home-page-sections/section-post-carousel.html' %}
    
    {% include 'partials/home-page-sections/section-contacts.html' %}

    {% include 'partials/home-page-sections/section-form-feedback.html' %}

    {% include 'partials/home-page-sections/section-bg-fixed.html' %}

    {% include 'partials/home-page-sections/section-text.html' %}
    
    {% include 'partials/home-page-sections/section-yandex-map.html' %}

{% endblock %}        