{% set page_title = 'Новости' %}
{% extends "layouts/layout-page-full-width.html" %}
{% block content %}

<div class="page-content">
    <div class="row">

        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card__thumb hover-fint overlay-icon-arrow">
                    <a href="/single.html" aria-hidden="true">
                        <img data-src="/img/zaglushka.jpg" class="lazyload" alt="Запись в дневнике 3"/>
                        <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                    </a>
                </div>
                <div class="card__info">
                    <span class="card__date">30 сентября 2019</span>
                    <h2 class="card__title">
                        <a href="#">Запись 1 </a>
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card__thumb hover-fint overlay-icon-arrow">
                    <a href="/single.html" aria-hidden="true">
                        <img data-src="/img/zaglushka.jpg" class="lazyload" alt="Запись в дневнике 3"/>
                        <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                    </a>
                </div>
                <div class="card__info">
                    <span class="card__date">30 сентября 2019</span>
                    <h2 class="card__title">
                        <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card__thumb hover-fint overlay-icon-arrow">
                    <a href="/single.html" aria-hidden="true">
                        <img data-src="/img/zaglushka.jpg" class="lazyload" alt="Запись в дневнике 3"/>
                        <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                    </a>
                </div>
                <div class="card__info">
                    <span class="card__date">30 сентября 2019</span>
                    <h2 class="card__title">
                        <a href="#">Запись 3 </a>
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card__thumb hover-fint overlay-icon-arrow">
                    <a href="/single.html" aria-hidden="true">
                        <img data-src="/img/zaglushka.jpg" class="lazyload" alt="Запись в дневнике 3"/>
                        <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                    </a>
                </div>
                <div class="card__info">
                    <span class="card__date">30 сентября 2019</span>
                    <h2 class="card__title">
                        <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card__thumb hover-fint overlay-icon-arrow">
                    <a href="/single.html" aria-hidden="true">
                        <img data-src="/img/zaglushka.jpg" class="lazyload" alt="Запись в дневнике 3"/>
                        <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                    </a>
                </div>
                <div class="card__info">
                    <span class="card__date">30 сентября 2019</span>
                    <h2 class="card__title">
                        <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card__thumb hover-fint overlay-icon-arrow">
                    <a href="/single.html" aria-hidden="true">
                        <img data-src="/img/zaglushka.jpg" class="lazyload" alt="Запись в дневнике 3"/>
                        <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                    </a>
                </div>
                <div class="card__info">
                    <span class="card__date">30 сентября 2019</span>
                    <h2 class="card__title">
                        <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                    </h2>
                </div>
            </div>
        </div>

        
    </div>


    <div id="load-more-wrp" class="btn-wrp">

        <a id="load-more" class="btn-rect more-news" href="#">
            <span class="top-line line"></span>
            <span class="bottom-line line"></span>
            <span class="left-line line"></span>
            <span class="right-line line"></span>
            <span class="text"><i class="icon-bubble"></i>Ещё новости</span>
        </a>
        
    </div>

    <!-- <div class="pagination"><span class="pagination-nav pagination-nav--prev disabled"><i></i></span>
        <ul class="pagination-list">
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="ellipse">…</li>
            <li><a href="#">10</a></li>
        </ul><a href="#" class="pagination-nav pagination-nav--next"><i></i></a>
    </div> -->
    
</div>

{% endblock %}