{% set page_title = 'Новости' %}
{% extends "layouts/layout-page-left-sidebar.html" %}
{% block content %}

<div class="page-content">
    

        <div class="card card--v2">
            <div class="card__thumb hover-fint overlay-icon-arrow">
                <a href="/single.html" aria-hidden="true">
                    <img data-src="/img/ibiza/1-middle.jpg" class="lazyload" alt="Запись в дневнике 3"/>
                    <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                </a>
            </div>
            <div class="card__info">
                <h2 class="card__title">
                    <a href="#">Запись 1 </a>
                </h2>
                <span class="card__date">30 сентября 2019</span>
                <div class="card__excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                        posuere a, pede.</p>
                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean
                        dignissim pellentesque felis.</p>
                </div>
                <a href="#" class="card__more-link">Подробнее</a>
            </div>
        </div>  


        <div class="card card--v2">
            <div class="card__thumb hover-fint overlay-icon-arrow">
                <a href="/single.html" aria-hidden="true">
                    <img data-src="/img/ibiza/2-middle.jpg" class="lazyload" alt="Запись в дневнике 3"/>
                    <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                </a>
            </div>
            <div class="card__info">
                <h2 class="card__title">
                    <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                </h2>
                <span class="card__date">30 сентября 2019</span>
                <div class="card__excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                        posuere a, pede.</p>
                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean
                        dignissim pellentesque felis.</p>
                </div>
                <a href="#" class="card__more-link">Подробнее</a>
            </div>
        </div>

    
        <div class="card card--v2">
            <div class="card__thumb hover-fint overlay-icon-arrow">
                <a href="/single.html" aria-hidden="true">
                    <img data-src="/img/ibiza/3-middle.jpg" class="lazyload" alt="Запись в дневнике 3"/>
                    <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                </a>
            </div>
            <div class="card__info">
                <h2 class="card__title">
                    <a href="#">Запись 3 </a>
                </h2>
                <span class="card__date">30 сентября 2019</span>
                <div class="card__excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                        posuere a, pede.</p>
                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean
                        dignissim pellentesque felis.</p>
                </div>
                <a href="#" class="card__more-link">Подробнее</a>
            </div>
        </div>
    
        <div class="card card--v2">
            <div class="card__thumb hover-fint overlay-icon-arrow">
                <a href="/single.html" aria-hidden="true">
                    <img data-src="/img/ibiza/4-middle.jpg" class="lazyload" alt="Запись в дневнике 3"/>
                    <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                </a>
            </div>
            <div class="card__info">                
                <h2 class="card__title">
                    <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                </h2>
                <span class="card__date">30 сентября 2019</span>
                <div class="card__excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                        posuere a, pede.</p>
                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean
                        dignissim pellentesque felis.</p>
                </div>

                <a href="#" class="card__more-link">Подробнее</a>

            </div>
        </div>
    
        <div class="card card--v2">
            <div class="card__thumb hover-fint overlay-icon-arrow">
                <a href="/single.html" aria-hidden="true">
                    <img data-src="/img/ibiza/5-middle.jpg" class="lazyload" alt="Запись в дневнике 3"/>
                    <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                </a>
            </div>
            <div class="card__info">
                <h2 class="card__title">
                    <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                </h2>
                <span class="card__date">30 сентября 2019</span>
                <div class="card__excerpt">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                        posuere a, pede.</p>
                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean
                        dignissim pellentesque felis.</p>
                </div>
                <a href="#" class="card__more-link">Подробнее</a>
            </div>
        </div>
       

        <div class="pagination"><span class="pagination-nav pagination-nav--prev disabled"><i></i></span>
            <ul class="pagination-list">
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="ellipse">…</li>
                <li><a href="#">10</a></li>
            </ul><a href="#" class="pagination-nav pagination-nav--next"><i></i></a>
        </div>
    
</div>

{% endblock %}