<!doctype html>
<html lang="en">

{% include 'partials/head.html' %}

<body>

    <div class="root">

        {% include 'partials/header.html' %}

        <div class="site-main">
            <div class="container">
            
                {% include 'partials/bread-crumbs.html' %}

                <header class="page-header">
                    <h1 class="page-header__title">H1 Стилевая страница</h1>
                </header>

                <div class="page-content content">
                    {% include 'partials/fish-content.html' %}

                    <h2>Предыдущая - следующая страница сайта</h2>
                    {% include 'partials/prev-next.html' %}

                    <h2>Пагинация</h2>
                    {% include 'partials/prev-next.html' %}
                </div>

            </div>
        </div>

        {% include 'partials/footer.html' %}

    </div>

    {% include 'partials/modal.html' %}

    {% include 'partials/javascripts.html' %}

</body>

</html>