<!doctype html>
<html lang="en">

{% include 'partials/head.html' %}

<body>

    <div class="root home-page">

        {% include 'partials/header.html' %}

        <div class="site-main">

            <div class="container">

                <div class="page-content content">
                    <h1>H1<br />заголовок первого уровня</h1>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam <a href="#">malesuada erat</a> ut turpis. Suspendisse urna nibh, viverra non,
                        semper suscipit,
                        posuere a, pede.</p>
                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean
                        dignissim pellentesque felis.</p>

                    <h2>H2<br />заголовок второго уровня</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
                        aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium,
                        ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu
                        nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu
                        augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus.
                        Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a
                        ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede
                        arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
                    <p><strong>Ненумерованный список:</strong></p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                        <li>Aliquam tincidunt mauris eu risus.</li>
                        <li>Vestibulum auctor dapibus neque.</li>
                        <li>Nunc dignissim risus id metus.</li>
                        <li>Cras ornare tristique elit.
                            <ul>
                                <li>Vivamus vestibulum ntulla nec ante.</li>
                                <li>Praesent placerat risus quis eros.</li>
                                <li>Fusce pellentesque suscipit nibh.</li>
                                <li>Integer vitae libero ac risus egestas placerat.</li>
                                <li>Vestibulum commodo felis quis tortor.</li>
                                <li>Ut aliquam sollicitudin leo.</li>
                                <li>Cras iaculis ultricies nulla.</li>
                                <li>Donec quis dui at dolor tempor interdum.</li>
                            </ul>
                        </li>
                    </ul>

                    <h3>H3<br />заголовок третьего уровня</h3>
                    <p><strong>Нумерованный список:</strong></p>
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                        <li>Aliquam tincidunt mauris eu risus.</li>
                        <li>Vestibulum auctor dapibus neque.</li>
                        <li>Nunc dignissim risus id metus.</li>
                        <li>Cras ornare tristique elit.
                            <ul>
                                <li>Vivamus vestibulum ntulla nec ante.</li>
                                <li>Praesent placerat risus quis eros.</li>
                                <li>Fusce pellentesque suscipit nibh.</li>
                                <li>Integer vitae libero ac risus egestas placerat.</li>
                                <li>Vestibulum commodo felis quis tortor.</li>
                                <li>Ut aliquam sollicitudin leo.</li>
                                <li>Cras iaculis ultricies nulla.</li>
                                <li>Donec quis dui at dolor tempor interdum.</li>
                            </ul>
                        </li>
                    </ol>

                    <h4>H4<br />заголовок четвертого уровня</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
                        aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium,
                        ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu
                        nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

                    <h2>Просто картинка</h2>
                    <img src="/img/ibiza/ibiza.jpg" alt=".." />

                    <h2>Таблица</h2>
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                    <th scope="col">Heading</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    
                    

                </div>

            </div>

        </div>

        {% include 'partials/footer.html' %}

    </div>

    {% include 'partials/modal.html' %}

    {% include 'partials/javascripts.html' %}

</body>

</html>