{% set page_title = 'На всю ширину' %}

{% extends "layouts/layout-page-full-width.html" %}

{% block content %}

<div class="page-content content">

    <h1>Turmeric Latte, Golden Milk with Ashwagandha</h1>

    <hr>

    <div>Revitalize your body and mind with Dr. Berg’s Turmeric Latte, Golden Milk with Ashwagandha. This unique blend of aromatic spices and herbs has powerful antioxidant, anti-inflammatory, and stress-reducing effects. The comforting earthy flavors in each sip will leave you feeling relaxed and satisfied. Keto-friendly and made with organic turmeric and relaxing ashwagandha—just add hot water!</div>

    <hr>

<p>Dr. Berg’s Turmeric Latte, Golden Milk with Ashwagandha is a delicious way to optimize your health, satisfy your cravings, and enhance your physical and mental performance. These powerful health-promoting herbs and spices have been used for over 4,000 years. Our unique blend gives you the health benefits of traditional golden milk with the added benefits of organic ashwagandha root.</p>

<p>Whether you want to relax your body and mind, lower your inflammation, support a healthy brain, or boost your energy and focus, this incredible golden milk is perfect for you. Dr. Berg’s Turmeric Latte is made with organic ingredients and sweetened with stevia, ideal for those on a Healthy Keto diet.</p>

    <div class="continer">

        <div class="row">
            <div class="col-md-6">
                <img src="" alt="">
            </div>
            <div class="col-md-6">
                <h3>Make a delicious habit your body will thank you for</h3>
                <h4>Dr. Berg’s Turmeric Latte, Golden Milk with Ashwagandha…</h4>
                <ul>
                <li>Relaxes the mind and lowers stress </li>
                <li>Reduces pain and inflammation</li>
                <li>Improves performance, energy, and focus</li>
                <li>Combats brain fog and improves your mood</li>
                <li>Helps support your natural resistance to bacteria, viruses, and fungi</li>
                <li>Promotes gut health </li>
                <li>Supports strong bones</li>
                <li>Helps reduce oxidative stress </li>
                <li>Supports a healthy heart </li>
                <li>Helps improve insulin sensitivity </li>
                </ul>
            </div>
        </div>
        
        <hr>

        <div class="row">
            <div class="col-md-4">
                Form: Powder<br>
Servings per container approx. 35<br>
Serving size 1 scoop, approx. 5 g<br>
Suggested use: As a dietary supplement, add 1 scoop to your choice of water or almond milk. Heat over medium flame for 4 to 5 minutes. Whisk until blended and enjoy this hot beverage.<br>
                
            </div>
            <div class="col-md-8">
                <table class="berg-prod">
                    <tr colspan="3" class="border-bottom-bold">
                        <td class="big">
                            SUPPLEMENT FACTS FOR TURMERIC LATTE, GOLDEN MILK WITH ASHWAGANDHA</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="border-bottom-bold">
                        <td></td>
                        <td><b>Amount per Serving</b></td>
                        <td><b> % Daily Value</b></td>
                    </tr>
                    <tr class="border-bottom-bold">
                        <td><b>Calories</b></td>
                        <td><b>25</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Saturated Fat</td>
                        <td>1 g</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>Sodium</td>
                        <td>5 mg</td>
                        <td><1%</td>
                    </tr>
                    <tr>
                        <td>Total Carbohydrate</td>
                        <td>3 g</td>
                        <td>1%</td>
                    </tr>
                    <tr>
                        <td>Dietary Fiber</td>
                        <td>1 g</td>
                        <td>4%</td>
                    </tr>
                  
                    
                    <tr class="border-bottom-bold">
                        <td>Total Sugars</td>
                        <td>0 g</td>
                        <td>0%</td>
                    </tr>
                    
                    <tr>
                        <td>Calcium</td>
                        <td>9.1 mg</td>
                        <td><1%</td>
                    </tr>
                    
                    <tr>
                        <td>Iron</td>
                        <td>0.50 mg	</td>
                        <td>3%</td>
                    </tr>

                    <tr class="border-bottom-bold">
                        <td>Potassium</td>
                        <td>18.2 mg</td>
                        <td><1%</td>
                    </tr>
                    
                    <tr class="border-bottom-no">
                        <td>Proprietary Blend</td>
                        <td>3213 mg</td>
                        <td>**</td>
                    </tr>

                    <tr colspan="3" class="border-bottom-bold">
                        <td>Coconut oil powder, organic turmeric, coconut milk powder, organic cinnamon, organic ginger, guar gum, organic amla, organic gotu kola, organic ashwagandha, organic clove, organic cardamom, organic nutmeg</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr colspan="3" class="border-bottom-no">
                        <td><b>*</b>Percent Daily Values are based on a 2000 calorie diet. Your daily values may be higher or lower depending on your calorie needs.<br />
                            <b>**</b>Daily Value not established.
                        </td>
                        <td></td>
                    </tr>
                </table>
                <p><b>Other Ingredients:</b> Vegetable capsule, microcrystalline cellulose, magnesium stearate (vegetable source)
                </p>
            </div>
        </div>
    </div>

    <hr>

<h2>SEE WHAT THIS POWERFUL SUPERFOOD BLEND CAN DO FOR YOUR BODY AND MIND</h2>

<h3>Turmeric</h3>
<p>Rich in curcumin—a phytonutrient with potent anti-inflammatory and antioxidant effects. It also has the potential to boost BDNF, improving learning, memory, and mood.</p>

<h3>Ashwagandha</h3>
<p>A powerful adaptogenic herb that reduces stress, anxiety, and fatigue by regulating cortisol production.</p>

<h3>Coconut oil</h3>
<p>A rich source of medium-chain triglycerides (MCTs) that boosts fat burning and provides clean, all-day energy. </p>


<h3>Cinnamon</h3>
<p>Protects against oxidative damage caused by free radicals and improves sensitivity to insulin.</p>

<h3>Ginger</h3>
<p>Soothes the digestive system and helps reduce bloating, cramping, gas, and indigestion. </p>

<h3>Amla</h3>
<p>Nature’s most rich source of vitamin C. Incredible for immune function, energy, strong nails, healthy skin, and beautiful hair. </p>

<h3>Gotu kola</h3>
<p>Known as the “herb of longevity” in traditional Chinese medicine—supports circulation, reduces fluid retention, and promotes cognitive function.</p>

<h3>Clove</h3>
<p>Rich in manganese, a trace mineral that improves insulin function, supports bone health, and eliminates free radicals.</p>

<h3>Cardamom</h3>
<p>Boosts natural killer cell production, supporting your innate protection against infections and cancer.</p>

<h3>Nutmeg</h3>
<p>Powerful natural anti-inflammatory and antioxidant effects that may help reduce joint pain and inflammation.</p>

 

<h3>DON’T WASTE YOUR TIME AND ENERGY WITH LOW-QUALITY GOLDEN MILK POWDERS</h3>
<p>Many golden milk powders are loaded with artificial flavors, processed sugars, synthetic colors, and unnecessary fillers. Your health deserves the best. That’s why Dr. Berg’s unique Turmeric Latte, Golden Milk with Ashwagandha is 100% keto-friendly, includes organic ingredients, and contains zero harmful additives. You can taste the quality ingredients in every satisfying sip.</p>

 

<h3>DR. BERG’S TURMERIC LATTE, GOLDEN MILK WITH ASHWAGANDHA IS RIGHT FOR YOU IF…</h3>
<ul>
<li>You want to improve your performance, energy, and focus</li>
<li>You struggle with inflammation and joint pain</li>
<li>You want to support your resistance to mental and physical stress</li>
<li>You need an easy and convenient way to fight cravings while on Healthy Keto</li>
<li>You want to promote a healthy body with organic ingredients </li>
<li>You have a healthy mind and body and want to further optimize your health</li>
</ul>

<h3>HOW TO USE DR. BERG’S TURMERIC LATTE, GOLDEN MILK WITH ASHWAGANDHA </h3>
<p>Using Dr. Berg’s Turmeric Latte is quick and easy. Add one scoop to your choice of water or almond milk. Heat over medium flame for 4 to 5 minutes. Whisk until blended and enjoy this delicious and comforting beverage. </p>
 

<h3>WHO SHOULDN’T USE DR. BERG’S TURMERIC LATTE, GOLDEN MILK WITH ASHWAGANDHA</h3>
<p>The natural herbs and spices in Dr. Berg’s Turmeric Latte are safe for most to enjoy. However, children under 18, mothers who are pregnant or breastfeeding, and those who have known health conditions should consult their doctor before using this product.</p>

<h3>HIGHLIGHTS:</h3>
<ul>
<li>High-quality superfood blend</li>
<li>Organic ashwagandha for additional benefits</li>
<li>Lowers stress and relaxes the mind</li>
<li>Improves performance, energy, and focus</li>
<li>Helps reduce free radical damage</li>
<li>Combats brain fog and improves your mood</li>
<li>Promotes normal insulin sensitivity </li>
<li>100% keto-friendly</li>
<li>Easy to prepare–just add hot water!</li>
<li>35 servings in each container</li>
</ul>
    

</div>

{% endblock %}