<section class="sc sc--img-text">        
    <div class="container">
        <h2 class="sc__title">Картинка - текст</h2>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="img-text">
                    <div class="img-text__img-wrap"><img src="/img/i1.jpg" alt=".." /></div>
                    <span class="img-text__title">Системный интегратор</span>
                    <span class="img-text__text">Мы знаем, что нашим клиентам нужны законченные комплексные решения, которые будут отлично выполнять поставленные задачи.</span>            
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="img-text">
                    <div class="img-text__img-wrap"><img src="/img/i2.jpg" alt=".." /></div>
                    <span class="img-text__title">Ответственность</span>
                    <span class="img-text__text">ы ответственно работаем и постоянно совершенствуем создаваемые системы, благодаря улучшению способов интеграции оборудования
                        и использованию новейших технических средств.</span>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="img-text">
                    <div class="img-text__img-wrap"><img src="/img/i3.jpg" alt=".." /></div>
                    <span class="img-text__title">Репутация</span>
                    <span class="img-text__text">Мы считаем важным, что созданные нами решения помогают улучшить работу тысяч сотрудников и сотен компаний и могут быть оценены жителями всего Черноземья и других регионов России.</span>            
                </div>
            </div>
        </div>
    </div>
</section>