<section class="sc sc--form-feedback">
    <div class="container">

        <h2 class="sc__title">Форма обратной связи</h2>

        <div class="form-inner">
            <div role="form" class="wpcf7" id="wpcf7-f6-o1" lang="ru-RU" dir="ltr">
                <div class="screen-reader-response" role="alert" aria-live="polite"></div>
                <form action="/#wpcf7-f6-o1" method="post" class="wpcf7-form init" novalidate="novalidate">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="6">
                        <input type="hidden" name="_wpcf7_version" value="5.2">
                        <input type="hidden" name="_wpcf7_locale" value="ru_RU">
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f6-o1">
                        <input type="hidden" name="_wpcf7_container_post" value="0">
                        <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                    </div>
                    <div class="l-form-row">
                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value=""
                                size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                aria-required="true" aria-invalid="false" placeholder="Имя *"></span><br>
                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value=""
                                size="40"
                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                aria-required="true" aria-invalid="false" placeholder="E-mail *"></span><br>
                        <span class="wpcf7-form-control-wrap your-phone"><input type="text" name="your-phone" value=""
                                size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                aria-required="true" aria-invalid="false" placeholder="Телефон *"></span><br>
                        <span class="wpcf7-form-control-wrap your-dop_infa"><textarea name="your-dop_infa" cols="40"
                                rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                aria-required="true" aria-invalid="false"
                                placeholder="Здесь вы можете оставить своё мнение"></textarea></span>
                    </div>
                    <!-- <div class="l-form-row">
                        <input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit"
                            id="zayvka-submit"><span class="ajax-loader"></span>
                    </div> -->
                    <div class="wpcf7-response-output" role="alert" aria-hidden="true"></div>
                </form>
            </div>
        </div>

    </div>

    <div class="l-container">
        <div class="btn-wrp">
            <a id="zayavka-button" class="btn-rect" href="#">
                <span class="top-line line"></span>
                <span class="bottom-line line"></span>
                <span class="left-line line"></span>
                <span class="right-line line"></span>
                <span class="text"><i class="icon-envelope"></i>Отправить</span>

            </a>
        </div>
    </div>
</section>