<!-- Последние новости -->
<a id="news" name="news"></a>
<section class="sc sc--news">
    <div class="container">
        <h2 class="sc__title">Последние новости</h2>
        <div class="row">
            
            <div class="col-md-4">        
                <div class="post">
                    <div class="post__thumb hover-fint overlay-icon-arrow">
                        <a href="/single.html" aria-hidden="true">
                            <img src="/img/zaglushka.jpg" alt="Запись в дневнике 3"> 
                            <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                        </a>
                    </div>
                    <div class="post__info">
                        <span class="post__date">30 июля 2020</span>
                        <h2 class="post__title">
                            <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4">        
                <div class="post">
                    <div class="post__thumb hover-fint overlay-icon-arrow">
                        <a href="/single.html" aria-hidden="true">
                            <img src="/img/zaglushka.jpg" alt="Запись в дневнике 3"> 
                            <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                        </a>
                    </div>
                    <div class="post__info">
                        <span class="post__date">30 июля 2020</span>
                        <h2 class="post__title">
                            <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                        </h2>
                    </div>
                </div>
            </div>


            <div class="col-md-4">        
                <div class="post">
                    <div class="post__thumb hover-fint overlay-icon-arrow">
                        <a href="/single.html" aria-hidden="true">
                            <img src="/img/zaglushka.jpg" alt="Запись в дневнике 3"> 
                            <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                        </a>
                    </div>
                    <div class="post__info">
                        <span class="post__date">30 июля 2020</span>
                        <h2 class="post__title">
                            <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                        </h2>
                    </div>
                </div>
            </div>


        </div><!-- row -->

    </div>
    <div class="container">
        <div class="btn-wrp">
            <a class="btn-rect" href="/news.html">
                <span class="top-line line"></span>
                <span class="bottom-line line"></span>
                <span class="left-line line"></span>
                <span class="right-line line"></span>
                <!--<span class="bottom-additional-line line"></span>
                    <span class="top-additional-line line"></span>-->
                <span class="text"><i class="icon-bubble"></i>Все записи</span>

            </a>
        </div>
    </div>
</section>