<section class="sc sc--img-text">        
    <div class="container">
        <h2 class="sc__title">Картинка - текст</h2>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="img-text">
                    <div class="img-text__img-wrap"><img width="100" src="/img/i1.svg" alt=".." /></div>
                    <span class="img-text__title">Любая сложность</span>
                    <span class="img-text__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque</span>            
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="img-text">
                    <div class="img-text__img-wrap"><img width="100" src="/img/i2.svg" alt=".." /></div>
                    <span class="img-text__title">Быстро</span>
                    <span class="img-text__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque</span>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="img-text">
                    <div class="img-text__img-wrap"><img width="100" src="/img/i3.svg" alt=".." /></div>
                    <span class="img-text__title">Качественно</span>
                    <span class="img-text__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque</span>            
                </div>
            </div>
        </div>
    </div>
</section> 