<!-- Секция контакты -->
<a id="contacts" name="contacts"></a>
<section class="sc sc--contacts">
    <div class="container">
        
        <div class="row">
            
            <div class="col-sm-6 col-lg-3">
                <div class="contacts__item">
                    <div class="contacts__item-inner">
                        <div class="contacts__item-icon"><i class="icon-map"></i></div>
                        <div class="contacts__item-info">
                            <span>Адрес</span>
                            <div>г. Воронеж, <br/> ул. Какая-нибудь, 1а</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-3">
                <div class="contacts__item">
                    <div class="contacts__item-inner">
                        <div class="contacts__item-icon"><i class="icon-envelope"></i></div>
                        <div class="contacts__item-info">
                            <span>E-mail</span>
                            <div>some-mail@some-mail.ru</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="contacts__item">
                    <div class="contacts__item-inner">
                        <div class="contacts__item-icon"><i class="icon-mobile"></i></div>
                        <div class="contacts__item-info">                        
                            <span>Телефон</span>
                            <div>+7 (473) 111-11-11</div>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="contacts__item">
                    <div class="contacts__item-inner">
                        <div class="contacts__item-icon"><i class="icon-share"></i></div>
                        <div class="contacts__item-info">                        
                            <span>Соц. сети</span>
                            <div>
                                <a href="#">ВКонтакте</a>
                                <a href="#">Одноклассники</a>
                                <a href="#">Instagram</a>
                                <a href="#">Facebook</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

        </div>
    </div>
</section>
