<section class="sc sc--parallax">        
    <div class="parallax-container">
        <div class="parallax"><img src="/img/ibiza/ibiza.jpg" /></div>
        <div class="parallax-overlay">
            <div class="container">
                <h2 class="sc__title sc__title--white">Паралакс секция</h2>
                <div class="sc__content">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                        posuere a, pede.</p>
                </div>
            </div>
        </div>
    </div>
</section>