<section class="sc sc--bg-fixed fixed-bg bg-1">

    <div class="l-container">

        <div class="right-block">
            <div class="content-wrp">
                <h2 class="sc__title">Фиксированный фон</h2>
                <div class="sc__content">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                        posuere a, pede.</p>
                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean
                        dignissim pellentesque felis.</p>
                </div>
            </div>
        </div><!-- right-block -->

    </div>
</section>