<!-- Карусель записей -->
<section class="sc sc--post-carousel">
    <div class="container">
        
        <h2 class="sc__title">Карусель записей</h2>
        
        <div class="post-carousel-wrap">
            <div class="post-carousel">
                
                <div class="post-carousel__item">
                    <div class="card">
                        <div class="card__thumb hover-fint overlay-icon-arrow">
                            <a href="/single.html" aria-hidden="true">
                                <img src="/img/zaglushka.jpg" alt="Запись в дневнике 3"> 
                                <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                            </a>
                        </div>
                        <div class="card__info">
                            <span class="card__date">30 июля 2020</span>
                            <h2 class="card__title">
                                <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="post-carousel__item">
                    <div class="card">
                        <div class="card__thumb hover-fint overlay-icon-arrow">
                            <a href="/single.html" aria-hidden="true">
                                <img src="/img/zaglushka.jpg" alt="Запись в дневнике 3"> 
                                <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                            </a>
                        </div>
                        <div class="card__info">
                            <span class="card__date">30 июля 2020</span>
                            <h2 class="card__title">
                                <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="post-carousel__item">
                    <div class="card">
                        <div class="card__thumb hover-fint overlay-icon-arrow">
                            <a href="/single.html" aria-hidden="true">
                                <img src="/img/zaglushka.jpg" alt="Запись в дневнике 3"> 
                                <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                            </a>
                        </div>
                        <div class="card__info">
                            <span class="card__date">30 июля 2020</span>
                            <h2 class="card__title">
                                <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="post-carousel__item">
                    <div class="card">
                        <div class="card__thumb hover-fint overlay-icon-arrow">
                            <a href="/single.html" aria-hidden="true">
                                <img src="/img/zaglushka.jpg" alt="Запись в дневнике 3"> 
                                <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                            </a>
                        </div>
                        <div class="card__info">
                            <span class="card__date">30 июля 2020</span>
                            <h2 class="card__title">
                                <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="post-carousel__item">
                    <div class="card">
                        <div class="card__thumb hover-fint overlay-icon-arrow">
                            <a href="/single.html" aria-hidden="true">
                                <img src="/img/zaglushka.jpg" alt="Запись в дневнике 3"> 
                                <span class="image-overlay"><span class="image-overlay-inside"></span></span>
                            </a>
                        </div>
                        <div class="card__info">
                            <span class="card__date">30 июля 2020</span>
                            <h2 class="card__title">
                                <a href="#">Запись 2 очень длинное название записи чисто для проверки </a>
                            </h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    
</section>