// Каруселька slick

.carousel-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 32px;
}

.carousel:not(.slick-initialized) {
    display: none !important;
}

.carousel {
    margin-left: -10px;
    margin-right: -10px;

    &__item {
        padding: 0 10px;
        outline: none;

        img {
            max-width: 100%;
            height: auto;
            width: 100%;
        }
    }

    .slick-arrow {
        background-color: $gray-light;
        border: 1px #d1d1d1 solid;
        border-radius: 4px;
        opacity: 0.6;
        width: 40px;
        height: 40px;
        box-shadow: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        outline: none;
        line-height: 0;    
        font-size: 24px;
        padding: 0;

        &:hover {
            opacity: 1;
        }
    }
    
    &-prev {
        left: 24px;
    }
    &-next {
        right: 24px;
    }

}
