html,
body {
    height: 100%;
}

body {
    background: $color-bg;
    width: 100%;
}

.root {
    display: flex;
    flex-direction: column;
    // position: relative;
    min-height: 100vh;
    min-width: 320px;
    overflow: hidden;
}

.site-main {
    flex: 1 0 auto;
    padding:  0;
    background-color: #fff;
    position: relative;
}