
.nav-bar {
    position: relative;
    width: 100%;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    padding: 5px 0;
    
    @include media ('>=lg') {
        padding: 0;
        box-shadow: none;
        background-color: #fff;
        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d9c7af' fill-opacity='0.64' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }
        
}


.nb-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nb-left-wrap,
.nb-right-wrap {
    display: flex;
    align-items: center;
    
}

.nb-right-wrap {
    position: relative;
        
    @include media ('>=lg') {
        top: -65px;
    }
}


.nb-logo {
    //display: none;
    width: 40px;
    height: auto;
    margin-right: 16px;

    @include media ('>=lg') {
        display: none;
        
    }
}

.nb-phone {
    display: flex;
    margin-right: 24px;
    text-decoration: none;
    color: $gray;
    font-size: 26px;
    &:hover {
        color: $color-1;
    }
    i {
        display: flex;
        align-items: center;
        line-height: 0;
    }

    @include media ('>=lg') {
        display: none;
    }
}

.nb-menu {
    display: none;
    @include media ('>=lg') {
        display: block;
    }
}


.nb-search {
    display: flex;
    position: relative;

    &__btn {
        margin-right: 24px;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        border: 0;
        cursor: pointer;
        //border-radius: 50%;
        color: $gray;
        outline: none !important;
        //border: 1px solid $gray-light;
        background: none;
        transition: all 0.3s;
        
        i {
            display: block;
            font-size: 24px;
            line-height: 1;
            position: relative;
            top: 1px;
            font-style: normal;
            &::before {
                content: "r";
                font-family: 'icons';
            }
        }

        &:hover {
            color: $color-1;
            border-color: $color-1;
        }
        
    }

    &__box {
        display: none;
        position: absolute;
        border: 1px solid $color-1;
        background-color: rgba(41, 172, 74, 0.9);
        top: 100%;
        right: -96px;
        padding: 16px;

        @include media ('>=lg') {
            right: 0;
        }
        
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 10;
            top: -5px;
            right: 129px;
            $tsize: 5px;
            border-left: $tsize solid transparent;
            border-right: $tsize solid transparent;
            border-bottom: $tsize solid $color-1;

            @include media ('>=lg') {
                right: 34px;
            }

        }
    }
    
    @include media ('>=md') {
      display: block;
    }
}


.nb-search.opened {
    .nb-search {
        &__btn{
            i {
                &::before {
                    content: "l";
                }
            }
    
        }
        &__box {
            display: block;
        }
    }
}




.nb-whatsapp {
    margin-right: 32px;
    a {
        display: inline-block;
        color: $color-1;
        text-decoration: none;
        font-size: 36px;

        &:hover {
            transform: scale(1.1);
        }
    }
}


.nb-login-cart-wrap {
    display: flex;
    align-items: center;
}
  
.h-login {
    display: none;
    margin-right: 20px;
    @include media ('>=md') {
        display: block;
    }

    .user-info {
        display: flex;
        align-items: center;
    }

    .account {
        display: flex;
        align-items: center;
    }


    a {
      text-decoration: none;
      color: $gray;
      font-size: 14px;
      font-weight: 600;

      i {
        display: flex;
        line-height: 0;
      }

      .login-btn {
          font-size: 24px;
      }

      .icon-logout {
        font-size: 22px;
        margin-left: 24px;
      }

      span {
          margin-left: 8px;
      }

      
      
      &:hover {
        color: $color-1
      }
    }
}
  

.h-cart {
    color: $gray;
    //margin-right: 0px;
    
    @include media ('>=md') {
        margin-right: 0;
    }

    &__inner {
      line-height: 0;
      position: relative;
    }
  
    a {
      color: $gray;
      text-decoration: none;
      
      &:hover {
        color: $color-1;
  
        .h-cart__count {
            @include media ('>=md') {
                top:-10px;
            }
          
        }
      }
    }
  
    &__icon {
      font-size: 32px;
      line-height: 0;
      &::before {
        //line-height: 0;
      }
    }
  
    &__count {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      position: absolute;
      top:7px;
      left: 26px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: $color-1;
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      transition: all 0.3s;

      @include media ('>=md') {
        top:-8px;
        left: 9px;
      }
    }
}
  
  
.nb-hamburger {
    display: flex;
    align-items: center;
    margin-left: 32px;
    
    @include media ('>=lg') {
      display: none;
    }
}

.hamburger {
    background: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    outline: none !important;
}
.hamburger-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
}

.hamburger-box::before,
.hamburger-box::after {
    content: '';
    display: block;
    
}

.hamburger-inner,
.hamburger-box::before,
.hamburger-box::after {
    width: 100%;
    height: 3px;
    background: $gray-dark;
}




// прилепили - но меню скрыто за пределом экрана
.nav-bar.fixed {
    position: fixed;
    top: -88px;
    transition: transform .3s;
    background: #fff;

    .nb-logo {
        display: block;
    }


    .sf-menu > li {
        background: #fff;
        > a {
            color: $gray-dark;
            &:hover {
                color: $color-1;
            }
        }
    }

    .sf-menu > li.sfHover {
        
        > a {
        
            color: $color-1;
        
        }
    }

    .sf-arrows .sf-with-ul:after {
        border-top-color: $color-1;
      }


    
    .nb-right-wrap {
        position: relative;
        
        @include media ('>=md') {
            top: 0;
        }        
    }

    .h-login {
        display: none;
    }

    .nb-phone {
        display: block;
    }

    
}

// прилепили и скролим вверх - пофвляется меню
.nav-bar.fixed.scroll-up {
    transform: translateY(88px);
    box-shadow: 0 8px 24px rgba(0,0,0,.15);
    
}

