<div class="page-thumb">
    <img src="/img/ibiza/1-middle.jpg" alt=".." />
</div>

<h1 class="page-title">Страница одной новости</h1>

<div class="page-date">30 июля 2020</div>

<div class="content">

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
        aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium,
        ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu
        nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

    <h2>H2 заголовок второго уровня</h2>

    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu
        augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus.
        Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a
        ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede
        arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
    <p><strong>Ненумерованный список:</strong></p>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
        <li>Nunc dignissim risus id metus.</li>
        <li>Cras ornare tristique elit.
            <ul>
                <li>Vivamus vestibulum ntulla nec ante.</li>
                <li>Praesent placerat risus quis eros.</li>
                <li>Fusce pellentesque suscipit nibh.</li>
                <li>Integer vitae libero ac risus egestas placerat.</li>
                <li>Vestibulum commodo felis quis tortor.</li>
                <li>Ut aliquam sollicitudin leo.</li>
                <li>Cras iaculis ultricies nulla.</li>
                <li>Donec quis dui at dolor tempor interdum.</li>
            </ul>
        </li>
    </ul>

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
        aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium,
        ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu
        nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

</div>

<div class="page-meta">
        <i class="icon-file-alt"></i>&nbsp;<a href="#"
        rel="category tag">2020</a>&nbsp;&nbsp;&nbsp;
        <i class="icon-tags"></i>&nbsp;<a
        href="#" rel="tag">Воронежская область</a>, <a
        href="#" rel="tag">ЛВС</a>, <a href="#"
        rel="tag">Образование</a>, <a href="#" rel="tag">СКС</a>
</div>