
<footer id="colophon" class="footer" role="contentinfo">
    
    <div class="footer__top">
        <div class="container">
            <div class="footer-title">Подвал</div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container">
            <div class="row">

                <div class="col-md-6 order-md-1">
                    <div class="copy">2022 &copy; Все права защищены</div>
                </div>

                <div class="col-md-6 order-md-3">
                    <div class="developer">Разработка:
                        <a class="weblegko" target="_blank" href="https://weblegko.ru">
                            <span class="weblegko-red">@Web</span><span class="weblegko-white">Legko</span>
                        </a>
                    </div>
                    
                </div>

            </div>


        </div>
    </div>
</footer>