
<footer id="colophon" class="site-footer" role="contentinfo">
    
    <div class="footer__top">
        <div class="container">
            <div class="footer-title">Подвал сайта</div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                

                <div class="col-md-4 order-md-2">
                    <ul class="socio-footer">
                        {% include 'partials/socio-list-items.html' %}
                    </ul>                    
                </div>

                <div class="col-md-4 order-md-1">
                    <div class="copy">
                        2021 &copy; Все права защищены
                    </div>
                </div>

                <div class="col-md-4 order-md-3">
                    <div class="developer">Разработка:  <a class="weblegko" target="_blank" href="#"><span class="weblegko-red">@Web</span><span class="weblegko-white">Legko</span></a></div>
                    
                </div>

            </div>


        </div>
    </div>
</footer>