<header class="header">

    <div class="drawer-scrim js-close-drawer"></div>
    <div class="drawer">
        <button class="drawer-close-btn js-close-drawer" type="button"><span class="drawer-close-btn-inner"><i
                    class="icon-close"></i></span></button>
        <div class="drawer-inner">

            <a class="drawer-login-btn" href="/my-account" title="Log in to your customer account" rel="nofollow">
                <i class="icon-user-outline login-btn"></i>
            </a>
            <ul class="drawer-menu js-menu js-drawer-menu-list"></ul>
        </div>
    </div>

    <div class="container">
        <div class="header-inner">
            
            <div class="logo">
                <a href="/"><img src="/img/logo.svg" alt="logo"></a>
            </div>

            
            <a href="tel:88003010985" class="h-phone">
                <i class="icon-phone"></i>
                <span class="h-phone__info">
                    8-800-000-00-00
                </span>
            </a>

            <div class="h-menu">
                {% include 'partials/main-menu.html' %}
            </div>

            <button class="hamburger js-open-drawer" type="button">
                <span class="icon-menu"></span>
            </button>

        </div>
    </div>


</header>