<header id="header" class="site-header">




    <div class="drawer-scrim js-close-drawer"></div>
    <div class="drawer">
        <button class="drawer-close-btn js-close-drawer" type="button"><span class="drawer-close-btn-inner"><i
                    class="icon-close"></i></span></button>
        <div class="drawer-inner">

            <a class="drawer-login-btn" href="/my-account" title="Log in to your customer account" rel="nofollow">
                <i class="icon-user-outline login-btn"></i>
            </a>
            <ul class="drawer-menu js-menu js-drawer-menu-list"></ul>
        </div>
    </div>


    <div class="header-top">
        <div class="container">
            <div class="header-top-inner">
                <span class="logo">
                    <img class="logo__img" src="/img/logo.svg" alt="logo">
                    <img class="logo__img-mini" src="/img/logo.svg" alt="logo">
                    <span class="logo__text">Сайт<br />простой</span>
                </span>
                <a href="tel:88003010985" class="h-phone">
                    <i class="icon-phone"></i>
                    <span class="h-phone__info">
                        8-800-000-00-00
                        <span>Звонок бесплатный</span>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <nav class="nav-bar">
        <div class="container">
            <div class="nb-inner">

                <div class="nb-left-wrap">

                    <img class="nb-logo" src="/img/logo.svg" alt="logo">

                    <div class="nb-menu">

                        {% include 'partials/main-menu.html' %}

                    </div>

                </div>

                <div class="nb-right-wrap">

                    <a href="tel:88003010985" class="nb-phone">
                        <i class="icon-phone"></i>
                    </a>

                    <div class="nb-hamburger">
                        <button class="hamburger js-open-drawer" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </nav>

</header>