<ul id="main-menu" class="sf-menu">
    <li><a href="/">Главная</a></li>
    
    

    <li><a href="#">Страницы</a>
        <ul class="sub-menu">            
            <li><a href="/page.html">Стилевая</a></li>
            <li><a href="/page-left-sidebar.html">Сайдбар слева</a></li>
            <li><a href="/page-right-sidebar.html">Сайдбар справа</a></li>
            <li><a href="/page-full-width.html">На всю ширину</a></li>
            <li><a href="/page-forms.html">С формой</a></li>
            <li><a href="/404.html">Ошибка 404</a></li>
        </ul>
    </li>
    
    <li><a href="#">Новости</a>
        <ul class="sub-menu">            
            <li><a href="/news.html">Вариант 1 (сеткой)</a></li>
            <li><a href="/news-variant-2.html">Вариант 2 (лентой)</a></li>
        </ul>
    </li>

    <li><a href="#">Одна новость</a>
        <ul class="sub-menu">
            <li><a href="/single.html">Без сайдбара</a></li>
            <li><a href="/single-left-sidebar.html">Сайдбар слева</a></li>
            <li><a href="/single-right-sidebar.html">Сайдбар справа</a></li>
        </ul>
    </li>


</ul>