table:not([class]) {
    background-color: transparent;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: $paragraph-margin;

    @include media('ie') {
        table-layout: fixed;
    }

    th,
    td {
        background-clip: padding-box;
        border: 1px solid transparent;
        vertical-align: top;
        padding: rem(16px);

        &:first-child {
            border-left: 0;
        }

        &:last-child {
            border-right: 0;
        }
    }

    thead {
        th,
        td {
            font-weight: 700;
            background-color: $gray-light;
            color: $color-text;
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                th,
                td {
                    background-color: #fff;
                }
            }

            &:nth-child(even) {
                th,
                td {
                    background-color: #f5f5f5;
                }
            }

            &:last-child {
                th,
                td {
                    border-bottom: 1px solid #f1f1f1;
                }
            }
        }
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: $paragraph-margin;

    >table {
        margin-bottom: 0;
    }
}